* {
    font-family: 'Jost', sans-serif;
}

body {
    background-color: white
}

.navMobile {
    display: none;
}

.arrowsDown {
    display: none;
}

.naviItems {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar-brand {
    color: white;
    font-size: 40px;
    font-weight: 50;
}

.navbar-brand:hover {
    color: #E7E7E7;
}

.nav-link {
    font-weight: 200;
    font-size: 25px;
    color: white;
    margin-block: 10px;
    padding-inline: 25px !important;

}

.nav-link:hover {
    color: #E7E7E7;
}


.boxNav {
    padding-inline: 200px;
    background: #1E1E1E;

}


nav {
    background: #1E1E1E !important;
    padding: 0% !important;
}

.frontPage {
    height: 60vh;
    width: 100%;
    background-color: #E7E7E7;
    position: relative;
}

.frontPageimg {
    width: 92%;
    margin-top: 80px;
    box-shadow: 0px 0px 5px 0px #5c5c5c;
}

.frontPageimgMobile {
    display: none;
}

.frontPagebackgroud {
    display: flex;
    justify-content: center;
}

.boxButtonsFront {
    position: absolute;
    top: 250px;



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxButtonsFront h2 {
    font-size: 150px;
    font-weight: 100;
    color: white;
    margin-bottom: 20px;
}

.boxButtonsFront p {
    color: white;
    font-size: 35px;
    font-weight: 400;
    margin: 0%;
    margin-top: -30px;
    margin-bottom: 15px;
}

.ButtonsFront button {
    font-size: 28px;
    background-color: #E9E9E9;
    color: #2A2528;
    padding: 10px;
    padding-inline: 20px;
    margin-inline: 5px;
    border: none;
    border-radius: 5px;
}

.ButtonsFront button:hover {
    background-color: #2A2528;
    color: #E9E9E9;
    font-weight: 400;
}

.historySection {
    margin-top: 350px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/BackgroundHistory.png);
}


.SubContainHistory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 50px;
    margin-top: 70px;
}

.tittleSection {
    font-family: 'Jomolhari', serif;
    font-weight: 100;
}

.SubContainHistory h2 {
    font-weight: 600;
}

.SubContainHistory p {
    margin-inline: 100px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0%;
}

.firmaSection {
    margin-top: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/backgroundFirma.png);
    background-repeat: no-repeat;
    background-position: center;
}

.subfirmaSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.subTittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding-block: 10px;
}

.txtFirm {
    margin-inline: 100px;
    font-size: 24px;
    text-align: center;
    margin-top: 0px;
}

.lineMovile {
    display: none !important;
}

.ServiceSection {
    margin-top: 150px;
}

.subTittleServ {
    font-weight: 600;
}

swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

swiper-slide {
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A2528;
}

swiper-slide a {
    text-decoration: none;
}

.tit {
    color: #E7E7E7;
}

.boxTittleCard {
    position: relative;
    text-align: center;
    padding-bottom: 35px;
    margin-inline: 35px;

}

.boxTittleCard::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    /* Grosor de la línea */
    background: linear-gradient(to right, transparent, #E7E7E7, transparent);
    /* Color del borde con puntas transparentes */
}

:root {
    --swiper-pagination-color: #E7E7E7;
}


/* ------------- */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal .close {
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: 100;
    text-shadow: 4px 4px 6px #cecccc;
}

.modal .close:hover {
    font-weight: 600;
}

.modalContent {
    padding-block: 50px;
    padding-inline: 50px;
    text-align: center;
    margin: 40px;
    border: solid 1px #1E1E1E;
    border-radius: 10px;
}

.modalContent h3 {
    padding: 25px;
}

.modalContent p {
    font-size: 24px;
    padding: 25px;
}

/* -------------------------------- */

.contactSection {
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 50px;
    background-image: url(./img/backGroundContact.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: left; */

}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    color: #E7E7E7;
    caret-color: #E7E7E7;
    font-size: 20px;
}

.subcontactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.form-container {
    width: 520px;
    margin: 0 auto;
    background-image: url(img/rectangleContact.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    border-radius: 8px;

}


.form-group {
    margin-bottom: 35px;

}


.form-group input {
    width: 100%;
    padding: 5px;
    border: 0px;
    border-bottom: 2px solid #ccc;
    border-radius: 3px;
    background-color: transparent;
}

.form-group input::placeholder {
    color: #E7E7E7;
}

.form-group input:focus {
    outline: none;
}

.form-group textarea {
    width: 100%;
    padding: 5px;
    border: 0px;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
}

.form-group textarea::placeholder {
    color: #E7E7E7;
}

.form-group textarea:focus {
    outline: none;
}

.form-groupButton button {
    display: block;
    width: 100%;
    padding-block: 20px;
    background-color: #E7E7E7;
    color: #1E1E1E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;

}

.form-group button:hover {
    background-color: #2A2528;
    color: #E7E7E7;
}

.profileSection {
    margin-top: 200px;
}

.cardsProfileBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardProfile {
    padding: 20px;
    margin: 25px;
    width: 60% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    text-decoration: none;
}


.cardProfile:hover {
    background-image: url(img/backgroundCardHover.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #E7E7E7;
    border-color: #E7E7E7;
}

.cardProfile:hover .line {
    background: linear-gradient(to right, transparent, #E7E7E7, transparent);
}



.imgBoxCard {
    padding: 80px;
    padding-bottom: 0% !important;
    border-top-right-radius: 40px !important;
    border-top-left-radius: 40px !important;
    align-items: center;
}

.imgBoxCard img {
    border-top-right-radius: 40px !important;
    border-top-left-radius: 40px !important;


    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.tittleCardProfile {
    font-family: 'Jomolhari', serif;
}



.line {
    display: block;
    width: 30%;
    /* O ajusta el ancho que desees */
    height: 2px;
    /* Ajusta el grosor de la línea */
    background: linear-gradient(to right, transparent, black, transparent);
    /* Estilo de la línea con puntas transparentes */
    margin-top: 50px;
    /* Ajusta el espacio entre la línea y los divs */
    margin-bottom: 25px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 250px;
    background-color: #1E1E1E;
    color: #E7E7E7;
}

.subContainFooter {
    padding-block: 50px;
    margin-block: 50px;
}

.tittleFooter h2 {
    font-size: 150px;

}

.tittleFooter p {
    font-size: 25px;
    margin-top: -25PX;
    margin-bottom: 25PX;

}

.addresFooter P {
    font-size: 25px;
    margin-inline: 80px;
    padding-inline: 80px;
}

.addresFooter a {
    text-decoration: none;
    color: #E7E7E7;
    font-size: 25px;
}

.redes {
    margin-top: 25px;
}

.redes img {
    width: 90px;
    margin: 10px;
}

.redes a img:hover {
    opacity: 0.7;
}

.imgMap {
    width: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.imgMap:hover {

    transform: rotate(20deg);
    /* Puedes ajustar el ángulo según tus preferencias */
    transition: transform 0.5s;
    /* Agrega una transición suave para una animación agradable */
}

/* ----------------------- */


.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow: auto;
    padding: 20px;

}


.custom-modal>div {
    background: #fff;
    max-width: 900px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-modal h3 {
    font-family: 'Jomolhari', serif;

}

.custom-modal p {
    text-align: justify;
    font-size: 20px;
    margin: 10px 10px;
    max-height: 250px;
    overflow-y: auto;
    padding: 15px;
}

/* Estilización de la barra de desplazamiento */
.custom-modal p::-webkit-scrollbar {
    width: 5px;
    /* Ancho de la barra de desplazamiento */
}

.custom-modal p::-webkit-scrollbar-thumb {
    background-color: #2a25289c;
    /* Color de la barra de desplazamiento */
    border-radius: 4px;
    /* Bordes redondeados de la barra */
}

.custom-modal p::-webkit-scrollbar-track {
    background-color: #E7E7E7;
    /* Color de fondo de la barra de desplazamiento */
}

.imgModalProfile {
    max-width: 50%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);

}

.closeCustomModal {
    display: block;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    text-shadow: 4px 4px 6px #cecccc;
    font-size: 13px;
}

.closeCustomModal:hover {
    transform: scale(1.1);
    /* font-weight: 600; */
}



/* Resposive */

@media screen and (max-width: 1600px) {

    .boxNav {
        padding-inline: 80px;
    }

    .nav-link {
        font-size: 20px;
    }

    .frontPageimg {
        margin-top: 60px;
    }

    .boxButtonsFront {
        position: absolute;
        top: 205px;
    }

    .boxButtonsFront h2 {
        font-size: 100px;
    }

    .boxButtonsFront p {
        font-size: 20px;
    }

    .ButtonsFront button {
        font-size: 20px;
        padding: 8px;
        padding-inline: 12px;
    }

    .historySection {
        margin-top: 270px;
    }

    .subTittle {
        margin-top: 30px;
    }

    .subcontactSection {
        margin-bottom: 40px;
    }

    .form-container {
        width: 500px;
        padding: 40px;
        border-radius: 8px;

    }

    .cardProfile {
        width: 35% !important;

    }

    .imgBoxCard {
        padding: 50px;
        padding-bottom: 0% !important;
        border-top-right-radius: 40px !important;
        border-top-left-radius: 40px !important;
        align-items: center;
    }

    .line {
        margin-bottom: 20px;
    }

    .modalContent h3 {
        padding: 0px;
    }

    .modalContent p {
        margin: 0px;
    }


    .tittleFooter {
        margin-bottom: 50px;
    }

    .tittleFooter h2 {
        font-size: 100px;
    }

    .tittleFooter p {
        font-size: 18px;
    }

    .imgMap {
        width: 50px;

    }

}

@media screen and (max-width: 1439px) {

    .boxNav {
        padding-inline: 80px;
    }

    .nav-link {
        font-size: 16px;
        padding-inline: auto !important;
    }


    .frontPageimg {
        width: 92%;
        margin-top: 50px !important;
    }

    .frontPageimg {
        margin-top: 50px;
    }

    .tittleSection {
        font-size: 18px;
    }

    .SubContainHistory h2 {
        font-weight: 600;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 0%;
    }

    .SubContainHistory p {
        font-size: 16px;
        padding-block: 50px;
    }

    .subTittle {
        font-size: 22px;
    }

    .firmaSection {
        margin-top: 60px;
    }

    .subfirmaSection {
        margin-block: 80px;
    }

    .txtFirm {
        font-size: 16px;
    }

    .firmaTittle {
        margin-top: 20px;
    }

    .subTittleServ {
        font-size: 22px;
    }

    .mySwiper {
        padding-top: 5px !important;
    }

    swiper-slide {
        width: 260px;
        height: 370px;
    }

    .tit {
        font-size: 15px !important;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        font-size: 15px;
    }


    .form-groupButton button {
        padding-block: 15px;
        font-size: 18px;
    }

    .profileSection {
        margin-top: 150px;
    }

    .tittleCardProfile {
        font-size: 20px;
    }

    .modalContent p {
        font-size: 16px;
    }

    .custom-modal>div {
        max-width: 70%;
    }

    .imgModalProfile {
        width: 30%;
    }

    .custom-modal h3 {
        font-family: 'Jomolhari', serif;
        font-size: 20px;
    }

    .custom-modal p {
        font-size: 15px;
    }


    .tittleFooter {
        margin-bottom: 50px;
    }

    .tittleFooter h2 {
        font-size: 100px;
    }

    .tittleFooter p {
        font-size: 15px;
    }

    .addresFooter p {
        font-size: 18px;
    }

    .addresFooter a {
        font-size: 18px;
    }

    .redes img {
        width: 60px;
    }

    footer {
        margin-top: 150px;
    }

    .imgMap {
        width: 45px;

    }
}


@media screen and (max-width: 1366px) {

    .boxButtonsFront {
        position: absolute;
        top: 205px;
    }

    .boxButtonsFront h2 {
        font-size: 80px;
        font-weight: 100;
        font-family: 'Jomolhari', serif;
    }

    .boxButtonsFront p {
        font-size: 15px;
    }

    .ButtonsFront button {
        font-size: 15px;

        padding: 6px;
        padding-inline: 15px;
        margin-inline: 1px;

        box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);

    }


    .subContainFooter {
        padding-block: 20px;

    }

    .tittleFooter h2 {
        font-size: 80px;

    }

    .tittleFooter p {
        font-size: 15px;
        margin-top: -20px;
        margin-bottom: 0%;

    }

    .addresFooter P {
        font-size: 15px;
        margin-inline: 80px;
        padding-inline: 80px;
    }


    .addresFooter a {
        font-size: 15px;
    }

    .redes img {
        width: 50px;
        margin: 5px;
    }
}



@media screen and (max-width: 1024px) {
    .historySection {
        margin-top: 80px;
    }

    .boxButtonsFront {
        position: absolute;
        top: 175px;
    }

    .boxButtonsFront h2 {
        font-size: 60px;
    }

    .boxButtonsFront p {
        font-size: 12px;
    }

}

@media screen and (max-width: 800px) {
    .frontPage {
        height: 70vh;
    }

    .frontPageimg {
        display: none;
    }

    .offcanvas-body {
        background-color: #2A2528;
    }

    .navItemMobile {
        background-color: #E7E7E7;
        /* border: solid 1px #E7E7E7; */
        margin-bottom: 20px;
        border-radius: 10px;
        margin-inline: 15px;

    }

    .navbar-nav {
        margin-top: 20px;
    }

    .nav-link {
        color: #2A2528;
        font-size: 20px;
        font-family: 'Jomolhari', serif;
        font-weight: 600;
        text-align: center;
    }

    .offcanvas-header {
        background-color: #E7E7E7;
    }

    .offcanvas-title {
        font-size: 25px !important;
        margin-inline: 5px;
    }


    .arrowsDown {
        display: block;
        width: 50px;
        margin-top: 120px;
    }

    .frontPageimgMobile {
        display: block;
        padding: 15px !important;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
    }

    .ButtonsFront {
        display: none;
    }

    .boxButtonsFront {
        position: absolute;
        top: 350px;
    }

    .boxButtonsFront p {
        font-size: 25px;
    }

    .boxButtonsFront h2 {
        font-size: 130px;

    }

    .ButtonsFront button {
        font-size: 23px;
        margin: 3px;
        padding-block: 10px;
    }

    .historySection {
        background-size: cover;
        margin-top: 300px;
    }

    .firmaSection {
        margin-top: 200px;
    }

    .firmaSection {
        margin-top: 120px;
        background-size: contain;
    }

    .txtFirm {
        margin-inline: 50px;
    }

    swiper-slide {
        height: 500px;
        width: 350px;
    }

    .ServiceSection {
        margin-top: 110px;
    }

    .modalContent {
        padding-inline: 30px;
    }

    .modalContent p {
        text-align: justify;
    }

    .cardsProfileBox {
        display: flex;
        flex-wrap: wrap;
    }

    .cardProfile {
        width: 500px !important;
    }

    .card-body h3 {
        font-size: 30px;
    }

    .card-body .card-text {
        font-size: 25px;
    }

    .historySection {
        margin-top: 450px;
    }

    .navMobile {
        display: block;
    }

    .imgMenuBurgMobile {
        width: 50px;
    }

    .boxNav {
        padding-inline: 0px;
    }

    .navbar-brand {
        padding-block: 6px;
        padding-inline: 15px;
    }


}

@media screen and (max-width: 480px) {

    .frontPage {
        height: 90vh;
    }

    .frontPageimgMobile {
        padding: 20px;

        size: 100% !important;
    }

    .frontPagebackgroud {
        height: 100% !important;
    }

    .boxButtonsFront {
        top: 120px;
    }

    .boxButtonsFront h2 {
        font-size: 60px;
    }

    .boxButtonsFront p {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .ButtonsFront button {
        font-size: 12px;
        padding-block: 6px;
        padding-inline: 15px;
    }

    .historySection {
        margin-top: 20px;
    }

    .SubContainHistory p {
        margin-inline: 0px;
    }

    .firmaSection {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .subfirmaSection {
        margin-top: 0px;
        margin-bottom: 15px !important;
    }

    .txtFirm {
        margin-inline: 0px;
    }

    .ServiceSection {
        margin-top: 70px;
    }

    .subTittleServ {
        padding-inline: 20px;
        text-align: center;
    }

    .lineMovileBox {
        display: flex;
        justify-content: center;
    }

    .lineMovile {
        display: block !important;
    }

    .subTittleServ {
        margin-bottom: 20px;
    }

    swiper-slide {
        height: 500px;
        width: 300px;
    }

    .boxTittleCard .tit {
        font-size: 22px !important;
    }

    .contactSection {
        padding-inline: 0px;
        margin-top: 100px;
    }

    .formu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-container {
        width: 380px;
        margin-inline: 0px !important;

    }

    .profileSection {
        margin-top: 25px;
    }

    .subcontactSection {
        margin-bottom: 20px;
    }

    footer {
        margin-top: 100px;
    }

    .addresFooter p {
        margin-inline: 5px;
        padding-inline: 5px;
    }

    .tittleCardProfile {
        font-size: 20px !important;
    }

    .card-body p {
        font-size: 15px !important;
    }

    .imgBoxCard {
        padding: 10px;
    }

    .imgModalProfile {
        width: 100%;
    }

    .custom-modal>div {
        max-width: 900px;
        height: 95vh;
        margin: 0% auto;
        padding: 0px;
        position: relative;

    }


    .closeCustomModal {
        margin-top: 40px;
    }

    .modalContent {
        padding-inline: 0%;
        margin-inline: 5px;
        padding-block: 40px;
    }

    .ButtonsFront {
        display: none;
    }

    .boxButtonsFront {
        top: 250px;
    }

    .boxButtonsFront h2 {
        /* color: #2A2528; */
        font-size: 100px;


    }

    .boxButtonsFront p {
        font-size: 18px;
    }

    .arrowsDown {
        width: 50px;
        margin-top: 120px;
    }

    .btnNavDest {
        display: none;
    }

    .boxNav {
        padding-inline: 10px;
    }

    .navbar-brand {
        margin-inline: 10px;
    }

}